@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../app/fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../app/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("../app/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  @apply font-['ClashDisplay-Regular'];
}
